body {
    background-color: yellow;
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    outline: 2px solid black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    outline: 1px solid cadetblue;
    background-color: white;
}


/* Ponowne ostylowanie poniżej */
/*.title {*/
/*    font-family: 'Courier New', Courier, monospace;*/
/*    font-size: 40px;*/
/*    color: violet;*/
/*}*/

.game {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid salmon;
    background-color: green;
}

.board-1to9-square {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 33.3%;
    height: 33.3%;
    outline: 1px solid black;
    transition: 0.5s ease-in;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    width: 33.3%;
    height: 33.3%;
    outline: 1px solid black;
    transition: 0.3s ease-in;
}

.error {
    background-color: rgba(255,0,0,0.7);
}

.normal {
    background-color: rgb(255,255,255);
}

.tile:hover {
    background-color: rgb(0, 128, 255);
    font-size: 20px;
}

.tile:focus {
    background: rgb(116, 57, 253);
    font-size: 20px;
}

.tile-completed-sudoku {
    animation: animate-completed-tile 2s ease-in-out;
}

@keyframes animate-completed-tile {
    0% {
        background-color: white;
        transform: scale(1.0);
    }
    25% {
        background-color: rgb(0, 253, 219);
        transform: scale(1.05);
    }
    50% {
        background-color: rgb(0, 253, 126);
        transform: scale(1.1);
    }
    75% {
        background-color: rgb(0, 253, 219);
        transform: scale(1.05);
    }
    100% {
        background-color: white;
        transform: scale(1.0);
    }
}

.checkmarkContainer {
    position: absolute;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkmarkContainer img {
    transition: 1s ease-in;
}

.transparent {
    opacity: 0;
}
