
.board{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    outline:2px solid black;
  
}
.menu{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color:black;
}

.game{
    position: relative;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.board-1to9-square{
   
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
width:33.3%;
height: 33.3%;
outline:1px solid black;
transition: 0.5s ease-in;
}


.box-normal{
background-color: white;
}

.box-completed{
    background-color: rgb(168, 231, 104);
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 32.15%;
    height: 32.15%;
    transition: background-color 0.5s ease;
    border:0.5px solid black;
}
.tile:nth-child(3n+0) {
    border-right: 2px solid black;
  }
.tile:nth-child(7),
.tile:nth-child(8),
.tile:nth-child(9) {
    border-bottom: 2px solid black;
  }

.tile-pencil{
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: initial;

font-size:15px;
}
.tile-pen{
font-size:40px;
}


.tile:hover{
    background-color: rgb(0, 128, 255);
    
    transform: scale(1.05);
}
.tile:focus{
    background: rgb(116, 57, 253);
    
    transform: scale(1.05);
}

.error {
    background-color: rgba(255,0,0,0.7);
}

.normal {
    background-color: rgb(255,255,255);
}

.tile-completed-sudoku{
    animation: animate-completed-tile 2s ease-in-out;    

}

@keyframes animate-completed-tile {
    0%{
        background-color: white;
        transform: scale(1.0);
    }
    25%{
        background-color: rgb(0, 253, 219);
        transform: scale(1.05);
    }
    50%{
        background-color: rgb(0, 253, 126);
        transform: scale(1.1);
    }
    75%{
        background-color: rgb(0, 253, 219);
        transform: scale(1.05);
    }
    100%{
        background-color: white;
        transform: scale(1.0);
    }
    
}
.checkmarkContainer{
    transform-origin: 0% 0%;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 75%;
    display: flex;
   
}
.checkmarkImg{
    height: 100%;
    width: 100%;

}


.image-left-to-right{
    z-index: 10;
    animation: image-appear 4s ease-in-out;
}
@keyframes image-appear {
    0%{
        opacity: 0;
        transform: scale(1.0);
    }
    50%{
        opacity: 1;
        transform: scale(1.1);
    }
    100%{
        opacity: 0;
        transform: scale(1.0);
    }
}

.transparent{
    z-index: -1;
    opacity: 0;
}

.difficulty-container{

border: 2px solid red;
width: 100px;
height: 40px;
overflow: hidden;

}
.difficulty-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
font-size:20px;
border: 2px solid blue;
}


.optionsMenu{
    position: absolute;
    top:0;
    left:100%;
    padding: 200px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

select {
    box-shadow: 0 2px 30px rgba(0,0,0,0.3);
  
    font-size: 1.5rem;
    padding: 1em 3em 1em 1.5em;
    background: #1c1b29;
    color:#04b0ee;
    border: 0;
}

.select-diff{
    position: relative;
  overflow: hidden;
}

.custom-arrow{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #1c1b29;
    height: 100%;
    width: 4em;
    pointer-events: none;
}
body{
    place-items: center;
    display: grid;
}

.custom-arrow::before,
.custom-arrow::after{
    --size: 0.65em;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}

.custom-arrow::before{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255,255,255,0.5);
    top:40%
}
.custom-arrow::after{
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255,255,255,0.5);
    top:60%;
}

.switch-to-pencil{

position: relative;
display: flex;
align-items: center;
padding: 10px;
}

.pencil-text,
.pen-text{
    padding-left: 60px;
    padding-right: 60px;
    width: 50px;
    height: auto;
    font-size: 20px;

}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 140px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.time{
   
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span{
    position: relative;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.new-game-button{
    background-color: #1c1b29;
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 20%;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 2px 30px rgba(0,0,0,0.3);
    padding: 0.5em 1em 0.5em 1em;
    font-size:  1.5em;
   border-radius: 5px;
    overflow: hidden;
}




.new-game-button::before{
    content: "";
    background-image: conic-gradient(#04b0ee 20deg, transparent 120deg);
    height: 150%;
    width: 150%;
    position: absolute;
    left:-25%;
    top: -25%;
    
}
.new-game-button:hover:before{
    animation: animate-border 2s  infinite linear;
}

@keyframes animate-border {
    100%{
        transform: rotate(-360deg);
    }
    
}
.new-game-button::after{
    content: "New game";
    font-family: 'Courier New', Courier, monospace;
    height: 94%;
    width: 94%;
    position: absolute;
    background-color: #1c1b29;
    border-radius: 5px;
    top:3%;
    left: 3%;
    color: #04b0ee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    


}